@charset "UTF-8";
.container a {
  color: black;
}

.view_as {
  justify-content: space-between;
}
.view_as .list_select {
  gap: 10%;
}
.view_as .list_select select {
  padding: 2%;
  border: #d3d3d3;
}

#dropdown {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  padding: 2%;
  border: 1px darkgray solid;
  cursor: pointer;
}

#dropdown:focus {
  outline: none;
}

.left_cotent {
  gap: 20px;
}
.left_cotent .list_layout {
  gap: 10px;
}

.right_content {
  padding-left: 10%;
}
.right_content .right_content-items {
  gap: 20px;
  width: 50%;
}

span {
  font-size: 17px;
  font-weight: 600;
}

input[type=range] {
  width: 100%;
  height: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #d3d3d3;
  outline: none;
  border-radius: 5px;
}

/* Style cho thanh trượt giá khi được kéo */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
}

.single_items {
  position: relative;
}
.single_items .hover-image {
  height: 100%;
}
.single_items .list_img {
  padding: 0;
  position: relative;
}
.single_items .list_img:hover .hover-image {
  display: block !important;
}

.single-img {
  width: 100%;
}

.hover-image {
  width: 100%;
  position: absolute;
  display: none !important;
  top: 0;
  left: 0;
}

.list_category {
  gap: 15px;
}
.list_category a {
  font-size: 18px;
}
.list_category a:hover {
  transform: translateX(10px);
}

.new_content {
  padding: 3% 2%;
}
.new_content h3 {
  text-align: left;
  font-family: "Times New Roman", Times, serif;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 5px 0;
  font-weight: 600;
  color: gray;
}
.dropdown-content a:hover {
  color: #007bff;
}

.submenu {
  display: none;
  padding-left: 20px;
}

/* Show the dropdown menu on click */
.show {
  display: block;
}

.checkbox {
  width: 100%;
  font-size: 20px;
}

.Availability {
  gap: 10px;
}

.list_img {
  padding: 10%;
}

.single-list .slick-prev {
  top: 30%;
  left: 5%;
}
.single-list .slick-next {
  top: 30%;
  right: 5%;
}
.single-list .name_price {
  padding-top: 10%;
}
.single-list .name_price p {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}
.single-list .name_price .price {
  text-align: center;
}
.single-list .name_price button {
  padding: 4%;
  font-size: 18px;
  width: 60%;
  margin: 10% 20%;
  background-color: #fff;
  font-weight: 600;
}
.single-list .name_price button:hover {
  background-color: #d68183;
  color: #fff;
  border: none;
}

.new_content-left {
  width: 20% !important;
}

.new_content-right {
  width: 80% !important;
  padding-left: 5% !important;
  gap: 5%;
  flex-wrap: wrap;
}
.new_content-right .hot_product {
  width: 20% !important;
  height: 310px;
}
.new_content-right .hot_product h5 {
  font-size: 16px;
}

.Recently_Viewed-Products .product_list {
  gap: 18px;
}

.link_home {
  gap: 20px;
}
.link_home a {
  color: darkgray;
}
.link_home a:hover {
  color: #007bff;
}

.list_hotpro {
  gap: 30px;
}/*# sourceMappingURL=newpage.css.map */